<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: aquamarine;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h1 {
            font-size: 45px;
            text-transform: capitalize;
            letter-spacing: 2px;
            text-align: center;
        }

        h2 {
            font-size: 30px;
            text-transform: capitalize;
            letter-spacing: 2px;
            text-align: center;
        }

        p,
        li {
            font-size: 16px;
            text-align: center;

        }
    </style>
    <title>
        Welcome to NodeJs
    </title>
</head>

<body>
    <h1>Well well well, look who is <%= person %></h1>
    <p>Welcome to the Simulation</p>
    <span>
        <p>Age: <strong><%= data.age%></strong></p>
        <p>Job: <strong><%= data.job%></strong></p>
        <p>Hobby: <strong><%= data.hobby%></strong></p>
        <h2>Languages</h2>
        <ul>
            <% data.languages.forEach(function(item){ %>
            <li> <%= item %></li>
            <% }); %>
        </ul>
    </span>
</body>

</html>